<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANC Theaters | Admin</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container admin">

        <h1>Welcome to ANC Theaters</h1>
        <a href="/movies" class="root-dir-btn">See all movies</a>
        <a href="/theaters" class="root-dir-btn">See all theaters</a>
    </div>
  </body>
</html>
